{{shake.author}} asks the Magic 8 Ball:
{{shake.question}}<br>
{{shake.notes}}

<h3>Answers</h3>
<ul>
  {{#each shake.responses as |response|}}
   {{response-tile response=response update="update"}}
 {{/each}}
</ul>
