<h1>About Magic 8 Ball</h1>

<p>Magic Ball is a place where junior developers can come to ask the unknown and receive an answer. Nothing is too taboo. I am fresh into the tech field with a strong background in psychology. My experience thus far is that if one puts the question out there, many an individual would be willing to answer. This web app provides a platform to do so.</p>
