<h1>About Magic 8 Ball</h1>

<p>Magic Ball is a place where junior developers can come to ask the unknown and receive an answer. Nothing is too taboo. I am fresh into the tech field and felt insecure asking questions at first. However, my experience has been one of open arms. This web app provides a platform for you to write out even the smallest question and allow your fellow developers to help you along.</p>
