<h1> Welcome to Magic 8 Ball</h1>

<p>Ask a question. Browse the questions. Find an answer.</p>

<ul>
  {{#each model as |shake|}}
    {{shake-tile shake=shake update="update"}}
  {{/each}}
</ul>

{{new-shake saveShake="saveShake"}}
